<div class="card bg-primary">
    <div class="card-header">Comments</div>
    <div class="card-body">
        {{#each this}}
        <div>
            {{comment_text}} | Posted by {{user.username}} on {{format_date created_at}}
            <p></p>
        </div>
        {{/each}}
    </div>
</div>