<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body class="flex-column min-100-vh">
    <div class="wrapper">
        <nav class=" navbar navbar-expand-lg bg-primary">
            <a class="navbar-brand" href="/">
                <h1 class="bg-dark rounded-lg display-4 p-3">The Tech Blog</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ol class="navbar-nav h3">
                    <li class=" nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        {{#if loggedIn}}
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                        {{else}}
                        <a class="nav-link" href="/login">Dashboard</a>
                        {{/if}}

                    </li>
                    <li class="nav-item">
                        {{#if loggedIn}}
                        <button id="logout" class="btn btn-link">Logout</button>
                        {{else}}
                        <a class="nav-link" href="/login">Login</a>
                        {{/if}}
                    </li>
                </ol>
            </div>
        </nav>
        <main>
            <div>
                {{{ body }}}
            </div>
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>