</section>
{{#if posts.length}}
<section>
    <div class="card bg-primary">
        <div class="card-header">
            <h3>Your Posts</h3>
        </div>
        {{#each posts as |post|}}
        <div class="card-body">

            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            <p></p>
        </div>
        {{/each}}
    </div>

</section>
{{/if}}

<section>
    <div class="card bg-primary">
        <div class="card-header">
            <h3>Create New Post</h3>
        </div>
        <div class="card-body">
            <form class="new-post-form">
                <div class="form-group">
                    <label for="post-title">Title</label>
                    <textarea id="post-title" name="post-title" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea id="content-body" name="content-body" class="form-control"
                        style='height:200px'></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">NEW POST</button>
            </form>
        </div>
    </div>
</section>

<script src="/javascript/add-post.js"></script>