<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <div class="card big-primary">
        <div class="card-header">
            <h3>Edit Post</h3>
        </div>
        <div class="card-body">
            <form class="edit-post-form">
                <div class="form-group">
                    <div>
                        <label for="post-title">Title</label>
                        <input name="post-title" type="text" value="{{post.title}}" class=" form-control" />
                    </div>
                    <div>
                        <label>Content</label>
                        <input name="content" type="text" class="form-control" value="{{post.content}}" />
                    </div>

                    <p></p>
                    <button type="submit" class="edit-post-btn">Save post</button>
                    <button type="submit" class="delete-post-btn">Delete post</button>
                </div>
            </form>
        </div>
    </div>

    </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>

<script src="/javascript/comment.js"></script>