<div class="bg-info">
    <div class="card bg-info">
        <div class="card-header bg-dark text-white">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <form class="login-form">
                <div class="form-group">
                    <label for="username-login">Username</label>
                    <input type="text" class="form-control" id="username-login">
                </div>
                <div class="form-group">
                    <label for="password-login">Password</label>
                    <input type="password" class="form-control" id="password-login">
                </div>
                <button type="Signup" class="btn btn-secondary">Login!</button>
            </form>
            <p><a href="/signup">Sign up instead</a></p>
        </div>
    </div>


    <script src="/javascript/login.js"></script>