{{> post-info post}}
{{> comments post.comments}}

{{#if loggedIn}}

<div class="card bg-primary">
    <div class="card-header"></div>
    <div class="card-body">
        <form class="comment-form">
            <div class="form-group">
                <label>Comment</label>
                <textarea type="text-area" id="comment-text" class="form-control" style='height:100px'></textarea>
            </div>
            <p>
                <button type="submit">Add Comment</button>
            </p>
        </form>
    </div>
</div>
<p>
</p>
<p>
    <a href="/"> &larr; Go Back</a>
</p>

{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}